.board {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    border: 5px solid black;
    padding: 10px;
    background-color: black;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    width: 90px;
    height: 80px;
    margin: 2px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
}
